'*':
  'welcome':
    'showOnStartup': false
  'editor':
    invisibles: {}
    fontSize: 17
    softWrapAtPreferredLineLength: true
    fontFamily: 'Input Mono'
  'core':
    'projectHome': '~/Development'
    themes: [
      "atom-material-ui"
      "atom-dark-syntax"
    ]
  'tree-view':
    'showOnRightSide': true
    'hideVcsIgnoredFiles': false
  'project-quick-open':
    'openProjectsInSameWindow': true
  'atom-material-ui':
    compactTreeView: true
  tabs:
    usePreviewTabs: true
