[submodule "init/monokai.terminal"]
	path = init/monokai.terminal
	url = https://github.com/stephenway/monokai.terminal.git
[submodule "init/transmission-remote-cli"]
	path = init/transmission-remote-cli
	url = https://github.com/fagga/transmission-remote-cli.git
